{
  "extends": ["stylelint-config-standard"],
  "customSyntax": "postcss-styled-syntax",
  "rules": {
    "custom-property-pattern": "^([a-z][a-zA-Z0-9]*)(-[a-zA-Z0-9]+)*$",
    "declaration-empty-line-before": [
      "never",
      {
        "ignore": ["after-declaration"]
      }
    ],
    "declaration-block-no-redundant-longhand-properties": [
      true,
      {
        "ignoreShorthands": ["grid-template"]
      }
    ],
    "color-function-notation": null
  }
}
