{
    debug
}

# Starter applikasjonen på port 8080
:{$PORT}

# Proxy kall til /v1/* til nibas-backend i test
reverse_proxy /v1/* {$BACKEND_HOST}
reverse_proxy /actuator/info {$BACKEND_HOST}

# Proxy kall til /api/auth til aut-idporten-modulen
reverse_proxy /api/auth/* {$AUT-IDPORTEN-URL} {
    header_up Host {upstream_hostport}
}

# Legg på brukernavn og passord når klient skal hente ticket 
# til de låste bakgrunnskartene
rewrite /skbaatts/req ?{query}&brukerid={$BAAT_USERNAME}&passord={$BAAT_PASSWORD}&retformat=s
reverse_proxy /skbaatts/req https://baat.geonorge.no

# Send alle bakgrunnskart til geonorge for å unngå CORS error
@laasteBakgrunnskart {
    path /skwms1/wms.nib
    path /skwms1/wms.ecc_enc
}
reverse_proxy @laasteBakgrunnskart https://wms.geonorge.no

# Matrikkelen WFS-tjeneste
reverse_proxy /geoservergeo/wfs/matrikkel {$MATRIKKELEN_WFS_URL} {
    header_up Host {upstream_hostport}
    header_up X-Forwarded-Host {host}
    header_up Authorization "Basic {$MATRIKKELEN_WFS_CREDENTIALS}"
}

handle_path /* {
    try_files {path} /srv/index.html
}

# Start filserveren
file_server
