{
    debug
}

# Starter applikasjonen på port 8080
:{$PORT}

@backendUrls {
    path /v1/*
}

handle @backendUrls {
    # Proxy kall til /v1/* til nibas-backend i test
    reverse_proxy {$BACKEND_HOST} {
        header_up Host {upstream_hostport}
    }
}

handle /api/auth/* {
    # Proxy kall til /api/auth til aut-idporten-modulen
    reverse_proxy {$AUT_IDPORTEN} {
        header_up Host {upstream_hostport}
    }
}

handle /skbaatts/req {
    # Legg på brukernavn og passord når klient skal hente ticket 
    # til de låste kartlagene
    rewrite * ?{query}&brukerid={$BAAT_USERNAME}&passord={$BAAT_PASSWORD}&retformat=s
    reverse_proxy https://baat.geonorge.no
}

# Send alle kartlag til geonorge for å unngå CORS error
@laasteKartlag {
    path /skwms1/wms.matrikkel.v1
    path /skwms1/wms.nib
    path /skwms1/wms.ecc_enc
}

handle @laasteKartlag {
    reverse_proxy https://wms.geonorge.no
}

handle /geoservergeo/wfs/matrikkel {
    # Matrikkelen WFS-tjeneste
    reverse_proxy {$MATRIKKELEN_WFS_URL} {
        header_up Host {upstream_hostport}
        header_up X-Forwarded-Host {host}
        header_up Authorization "Basic {$MATRIKKELEN_WFS_CREDENTIALS}"
    }
}

handle {
    root * /srv
    try_files {path} /index.html

    # Start filserveren
    file_server

    # Add header for .map files
    @jsonFiles {
        path *.map
    }
    header @jsonFiles Content-Type application/json
}
