@import "@kvib/css/main.css";

body {
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
