body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Mulish";
}

@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url(./fonts/Mulish-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url(./fonts/Mulish-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url(./fonts/Mulish-Italic.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url(./fonts/Mulish-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}
